name: 重建歌词文件夹并通知镜像站同步

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "scripts/**"
      - "raw-lyrics/**"

concurrency:
  group: check-submit
  cancel-in-progress: true

jobs:
  check-submit:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: 签出代码
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: 安装稳定版本的 Rust 工具链
        run: rustup toolchain install stable --profile minimal

      - name: 准备 Rust 缓存
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: ./scripts -> target

      - name: 运行重建程序
        timeout-minutes: 10
        working-directory: scripts/rebuild-folder
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          cargo run --release --locked
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 通知镜像站同步
        run: |
          curl -X POST https://amlldb.bikonoo.com/api/synchronous-lyrics \
          -H 'Content-Type: application/json' \
          -d '{"from":"github-actions"}'
